<!DOCTYPE>
<html>
<head>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_13aa9"></div>
    <div class="tradingview-widget-copyright"><a href="https://pl.tradingview.com/symbols/BTCBUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCBUSD wykres</span></a> od TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "BINANCE:BTCBUSD",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "1",
    "locale": "pl",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_13aa9"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->
    <h1 style="text-align:center">BTC- BUSD</h1>
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_d3f26"></div>
    <div class="tradingview-widget-copyright"><a href="https://pl.tradingview.com/symbols/EURPLN/?exchange=FOREXCOM" rel="noopener" target="_blank"><span class="blue-text">EURPLN wykres</span></a> od TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "FOREXCOM:EURPLN",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "1",
    "locale": "pl",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_d3f26"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->
  <h1 style="text-align:center">EUR- PLN</h1>
</body>

</html>
